header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  height: 80px;
    background-color: $black;

    padding: 0px 10px 0px 10px;

    nav {
        display: flex;
        justify-content: flex-end;
        text-align: end;
        font-family: $fontRaleway;
        font-size: $mdFontSize;
        flex: 1;

        a:hover {
            color: $primary;
            text-decoration: none;
        }

        .botonmenu {
            text-decoration: none;
            color: $white;
            padding: 0 3%;

            img {
                max-width: 280px;
                width: 100%;
            }

            a {
                text-decoration: none;
                color: $white;
                padding: 0 3%;

            }
        }
    }
}
